tiktoken
langchainhub
langchain==0.2.8 
langgraph==0.0.64

langchain-community==0.2.3
python-dotenv
tavily-python 
langchain-text-splitters
langchain-openai==0.1.8


langchain-pinecone

langchain-core

langsmith

pandas==2.2.2
praw==7.7.1

fuzzywuzzy==0.18.0

streamlit==1.31.1

beautifulsoup4==4.12.3
termcolor==2.4.0

colorlog==6.8.2
fake-useragent==1.5.1
playwright==1.45.0

fsspec
googlesearch-python



pinecone-client


jsonpatch==1.33
jsonpath-python==1.0.6

pikepdf



numpy==1.26.3



pdf2image==1.17.0

pydantic==2.5.3
pydantic_core==2.14.6

pypdf==3.17.4
PyPDF2==3.0.1




unstructured==0.12.0
unstructured-client==0.15.2
unstructured-inference==0.7.21
unstructured.pytesseract==0.3.12



